<header class="company-header">
    <h1>gangwar</h1>
</header>
<main>

    <section class="dash controls">
        <p>Total Vehicles Inside: <span id="count">0</span></p>
        <a href="/">Home</a>
    </section>
    <section class="dash tbl">
        <div class="tbl-header">
            <button id="reload">Reload</button>
            <input type="text" id="search">
        </div>
        <div class="tbl-wrapper">
            <table id="list" border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>In Time</th>
                        <th>Out Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="100">Loading...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>